# Copyright (c) 2022 openEuler Embedded
# SPDX-License-Identifier: Apache-2.0

if BOARD_RPI4_CORTEX_A72

config BUILD_OUTPUT_BIN
	default y

config BOARD
	default "rpi4_cortex_a72"

if IPM

config IPM_GIC_SGI
	default y

endif # IPM

endif # BOARD_RPI4_CORTEX_A72
