/*
 * Copyright (c) 2019 Carlo Caione <ccaione@baylibre.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */

/dts-v1/;
#include <arm64/qemu/qemu-virt-a53.dtsi>

/ {
	model = "QEMU Cortex-A53";
	compatible = "qemu,arm-cortex-a53";

	psci {
		compatible = "arm,psci-0.2";
		method = "hvc";
		label = "PSCI";
	};

	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &uart_rpmsg;
		zephyr,shell-uart = &uart_rpmsg;
		zephyr,flash = &flash0;
		/*
		 * shared memory reserved for the inter-processor communication
		 */
		 zephyr,ipc_shm = &ipc_shm0;
		 zephyr,ipc = &ipm_gic_sgi0;
	};

	ipm_gic_sgi0: ipm{
		compatible = "arm,gic-sgi";
		label = "gic_sgi0";
	};


	soc {

		ipc_shm0: memory@70000000 {
			compatible = "mmio-sram";
			reg = <0 0x70000000 0 0x30000>;
		};

		sram1: memory@7a000000 {
			compatible = "mmio-sram";
			reg = <0x0 0x7a000000 0x0 DT_SIZE_M(10)>;
		};

		uart_rpmsg: uart {
			status = "okay";
			compatible = "zephyr,rpmsg-uart";
			label = "UART_RPMSG";
			/* Dummy current-speed entry to comply with serial
		 	 * DTS binding
		 	 */
		 	current-speed = <0>;
		};

		uart1: uart@9001000 {
			compatible = "arm,pl011";
			reg = <0x00 0x9001000 0x00 0x1000>;
			status = "disabled";
			interrupts = <GIC_SPI 4 IRQ_TYPE_LEVEL 0>;
			interrupt-names = "irq_1";
			clocks = <&uartclk>;
			label = "UART_1";
		};

	};
};

